# Autenticação e hashing
bcrypt==3.2.2
passlib[bcrypt]==1.7.4

# FastAPI, Uvicorn e Jinja2
fastapi==0.95.1
uvicorn==0.22.0
jinja2==3.1.2
python-multipart==0.0.6

# Variáveis de ambiente
python-dotenv==1.0.0

# JWT
python-jose[cryptography]==3.3.0

# OpenAI e embeddings
openai==0.27.0
llama-index==0.10.42

# Vetorização/Indexação
faiss-cpu==1.7.3

# Tokenização (para llama-index / OpenAI)
tiktoken==0.5.1
