# bcrypt compatível com passlib
bcrypt==3.2.2
passlib[bcrypt]>=1.7.4

# JWT
python-jose[cryptography]>=3.3.0

# FastAPI + Jinja2 + Uvicorn
fastapi
uvicorn
jinja2
python-multipart

# OpenAI + embeddings + indexação
openai>=0.27.0
llama-index==0.10.42

# Outras (se você usar .env locally)
python-dotenv
